.w
{
    width: 1800px;
    margin:0 auto;
}

.shortcut-1
{
    height: 90px;
    line-height: 90px;
    background-color:#cdd9d780;
}

.shortcut-1 ul li 
{
    float: left;
    width: 332px;
    font-size: 28px;
    text-align: center;
    
}

.fl{
    float: left;

}
.fr
{
    float:right;
}

/* 选择所有偶数的小li */

.shortcut-1 ul li:nth-child(even)
{
    width: 5px;
    height: 70px;
    background-color: #666;
    margin:9px 15px 0;

}

/* 尾部模块制作 */
.footer
{
    margin-top:10px;
    height: 200px;
    background-color: #ffffff80;
    text-align: center;
  
    
}

.text
{
    position: relative;
   height: 330px;
   font-size: 40px;
   line-height:206px;
    text-align: center;
}

