.w
{
    width: 1800px;
    margin:0 auto;
}

.shortcut-1
{
    height: 90px;
    line-height: 90px;
    background-color: #45dfca;
}

.shortcut-1 ul li 
{
    float: left;
    width: 332px;
    font-size: 28px;
    text-align: center;
}

.fl{
    float: left;

}
.fr
{
    float:right;
}

/* 选择所有偶数的小li */

.shortcut-1 ul li:nth-child(even)
{
    width: 5px;
    height: 70px;
    background-color: #666;
    margin:9px 15px 0;

}