.bg-2 {
    position: relative;
 
    height: 400px;
    text-align: center;
    
    top: -400px;
    left: 300px;
}




.bg{
    width: 2000px;
    height: 500px;
    margin-left: 300px;
    float: left;
}

.main
{
    position: relative;
    margin-top:10px
}

.main .menu{
    width: 900px;
    height: 2000px;
    background-color: aqua;
}     
.main .menu li
{
   font-size: 20px;
    height: 200px;
    background-color: pink;
}

.main .menu p
{
    margin:10px 20px 10px;
    text-align: center;
}

.main .menu h2
{
    text-align: center;
}


.main .images
{
    width: 900px;
}


 .main .fr .images  img
{
/*  右边图片大小设定 */
width: 100%;
}

