ul li
{
  text-align: center;
  margin-top: 20px;
  z-index: 1;
}


  .bg-1 img
  {
   
    width: 100%;
    z-index: -1;
  }

  .hd-2 {
    position: relative;
    font-size: 90px;
    color: #0dfbdc;
    
  }

  .hd-1
  {
    font-size: 90px;
    margin-top:-591px;
    margin-left: 10px;
    color: #2e5adb;
  }
  

  .bg-color
  {
    color: #dded0b;
  }

  
  .hd-2:hover::after {
    content: "点此进入网页";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f0f0f0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    z-index: 2;
  }



  
  


  
