body {
    /* background-image: url('../images/ysn.png'); */
    background-image: url('../images/fll.png');
    background-size: cover; /* 保持图片覆盖整个屏幕 */
    background-attachment: fixed; /* 固定背景图片 */
    /* 可选的其他属性，如 background-position、background-repeat 等 */
               }
.bg-2 {
    position: relative;
 
    height: 400px;
    text-align: center;
    
    top: -400px;
    left: 300px;
}




.bg{
    width: 2000px;
    height: 500px;
    margin-left: 300px;
    float: left;
}

.main
{
    position: relative;
    margin-top:10px;
    height: 1500px;
    
}

.main .menu{
    width: 550px;
    height: 1477px;
    background-color:#cdd9d780;
} 

.game
{
    text-align: center;
}
.game-1,.game-2

{
    
    position: relative;
    /* display:inline-block; */
   
}
.game-1:hover::before
{
    content: "玩柚子社玩的";
    position: absolute;
    top: -20px; /* 调整文字显示的位置 */
    left: 50%;
   
    transform: translateX(-50%);
    background-color: #f0f0f080;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #7a696980;
    white-space: nowrap;
    opacity: 1;
    z-index: 1;

}

.game-2:hover::before
{
    content: "又到了白色相簿的季节";
    position: absolute;
    top: -20px; /* 调整文字显示的位置 */
    left: 50%;
   
    transform: translateX(-50%);
    background-color: #f0f0f080;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    color: #33333380;
    white-space: nowrap;
    opacity: 1;
    z-index: 1;

}
.main .menu li
{
   font-size: 20px;
    /* height: 200px; */
    /* background-color: pink; */
}

.intro h2
{
    text-align: center;
}
.intro img
{
   margin-left:20px ;
   margin-top: 20px;
    width: 90%;
    text-align: center;
}

.main .menu p
{
    margin:10px 20px 10px;
    text-align: center;
}

.main .menu h2
{
    text-align: center;
}

.menu .game a
{
    color: pink;
}
 .f11
{
    color: pink;
}



.main .images
{
    width: 1250px;
  
}

.fr p{
    color:#666;
}

.fr .emjoy
{
    text-align: center;
    font-size: 34px;
    margin: 10px;
}



 .main .fr .images  img
{
/*  右边图片大小设定 */
width: 100%;
}

.address
{
    margin-top: 80px;
}

