.slideshow-container {
    float:right;
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }

  .slideshow-container img {
    width: 100%;
    height: auto;
    display: none;
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .slideshow-container img
  {
    margin-left: 200px;
    width: 80%;
  }

  .slideshow-container p
  {
    text-align: center;
    font-size: 45px;
  }

  .container {
    position: relative;
  }
  
  .container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slideshow-container .text-1
  {
    margin-top: -30px;
    margin-left: 734px;
    font-size: 25px;
  }


  body {
    background: linear-gradient(45deg, rgb(135, 206, 250),#ffffff);
  }